.idea/
myenv/
.venv/
venv/
.env
__pycache__/
db.sqlite3
frontend/node_modules/
media/*

!media/game_icons/
!media/profile_pictures/
!media/results/
!media/icons/

media/game_icons/*
media/profile_pictures/*
media/results/*

!media/icons/*
!media/results/default_icon.png

*.py[cod]