.error-container {
  padding-top: 120px;
  text-align: center;
  background-color: #f3f5f7;
  height: calc(100vh - 80px);
}

.error-code {
  font-size: 120px;
  font-weight: 800;
  color: #0f1836;
  margin-bottom: 10px;
}

.error-message {
  font-size: 32px;
  color: #0f1836;
  font-weight: 500;
}

.error-description {
  margin-top: 20px;
  font-size: 18px;
  color: #19254a;
}
